<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="/admin/template_admin.xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      template="/templateApp.xhtml">
    
    <ui:define name="formulario">
        
        
        
                    <div class="card" style="margin-left: 200px">
                <h:form id="form" style="margin-top: 20px">
                    <h2 class="p-mt-0" style="margin-left: 50px; margin-top: 10px">Registro Profesor</h2>
                 <p:panelGrid columns="4" layout="grid" styleClass="showcase-text-align-center">
                 
                     <p:outputLabel  value="Nombre"/>
                     <p:inputText id="Nombre" style="margin-top: 10px; width:  270px" value="#{mBPersona.persona.nombre}" required="true"/>
                    
                    <p:outputLabel  value="Apellido paterno"/>
                    <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.paterno}" required="true"/>
                    
                    <p:outputLabel  value="Apellido materno"/>
                    <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.materno}" required="true"/>
                   
                    <p:outputLabel  value="Correo electronico"/>
                     <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.email}" required="true"/>
 
                    <p:outputLabel  value="Sexo"/>                   
                    <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.sexo}" required="true"/>
                    
                    <p:outputLabel  value="Rol de usuario"/>                    
                    <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.rol}" required="true"/>
                   
                    <p:outputLabel  value="Telefono"/>
                    <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.telefono}" required="true"/>
 
                    <p:outputLabel  value="Contraseña"/>
                    <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.passw}" required="true"/>
 
                   <p:outputLabel  value="Cedula"/>
                   <p:inputText style="margin-top: 10px; width: 270px" required="true" value="#{mBPersona.profesor.cedula}"/>
                   
                   <p:outputLabel  value="Grado Academico"/>
                   <p:inputText style="margin-top: 10px; width: 270px" required="true" value="#{mBPersona.profesor.grado_academico}"/>
                
                   <p:outputLabel  value="Especialidad"/>
                   <p:inputText style="margin-top: 10px; width: 270px" required="true" value="#{mBPersona.profesor.especialidad}"/>

                <p:messages id="messages" showDetail="true">   
                    <p:autoUpdate/>   
                </p:messages>   
                    </p:panelGrid>
                     <p:commandButton update=":form"  value="Registrar" style="margin-top: 20px; margin-left: 65px" action="#{mBPersona.insertarPersona()}"/>   
            </h:form>   
            </div>
        
    </ui:define>
    
    
</ui:composition>