<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="/admin/template_admin.xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <ui:define name="formulario">
        
        <div class="card" style="margin-left: 200px">
                <h:form id="form" style="margin-top: 20px">
                    <h2 class="p-mt-0" style="margin-left: 50px; margin-top: 10px">Registro Empleado</h2>
                 <p:panelGrid columns="4" layout="grid" styleClass="showcase-text-align-center">
                 
                     <p:outputLabel  value="Nombre"/>
                     <p:inputText id="Nombre" style="margin-top: 10px; width:  270px" value="#{mBPersona.persona.nombre}"/>
                    
                    <p:outputLabel  value="Apellido paterno"/>
                    <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.paterno}"/>
                    
                    <p:outputLabel  value="Apellido materno"/>
                    <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.materno}"/>
                   
                    <p:outputLabel  value="Correo electronico"/>
                     <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.email}"/>
 
                    <p:outputLabel  value="Sexo"/>                   
                    <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.sexo}"/>
                    
                    <p:outputLabel  value="Rol de usuario"/>                    
                    <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.rol}"/>
                   
                    <p:outputLabel  value="Telefono"/>
                    <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.telefono}"/>
 
                    <p:outputLabel  value="Contraseña"/>
                    <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.passw}"/>
 
                   <p:outputLabel  value="Codigo Empleado"/>
                   <p:inputText style="margin-top: 10px; width: 270px" />
                
                   <p:outputLabel  value="Usuario"/>
                   <p:inputText style="margin-top: 10px; width: 270px" />
                   
                   <p:outputLabel  value="Tipo"/>
                   <p:inputText style="margin-top: 10px; width: 270px" />
                   
                   <p:outputLabel  value="Estado"/>
                   <p:inputText style="margin-top: 10px; width: 270px" />
                   
                   <p:outputLabel  value="Fecha Acceso"/>
                   <p:inputText style="margin-top: 10px; width: 270px" />

                <p:messages id="messages" showDetail="true">   
                    <p:autoUpdate/>   
                </p:messages>   
                    </p:panelGrid>
                     <p:commandButton update=":form"  value="Registrar" style="margin-top: 20px; margin-left: 65px" action="#{mBPersona.insertarPersona()}"/>   
            </h:form>   
            </div>
        
    </ui:define>
    
    
</ui:composition>