<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

     <h:head>

     </h:head>

     <h:body>

         <h:form>
             <h1>Profesores</h1>
    <div class="card">
        <p:dataTable var="persona" value="#{mBPersona.personas}">
            <p:column headerText="ID">
                <h:outputText value="#{persona.idPersona}" />
            </p:column>

            <p:column headerText="Apellido Paterno">
                <h:outputText value="#{persona.paterno}" />
            </p:column>

            <p:column headerText="Apellido Materno">
                <h:outputText value="#{persona.materno}" />
            </p:column>

            <p:column headerText="Telefono">
                <h:outputText value="#{persona.telefono}" />
            </p:column>
        </p:dataTable>
    </div>
             <p:commandButton  value="Registrar" style="margin-top: 20px; margin-left: 65px" action="#{mBPersona.volver()}"/>
</h:form>
       
         

     </h:body>
</html>