<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>login</title>
</h:head>
<h:body>
	<h:form>
		<h3>Login</h3>
		<h:outputText value="Usuario" />
                                <p:inputText id="username" value="#{mBPersona.id}"></p:inputText>
		
		<br></br><br></br>
		
		<h:outputText value="Contraseña" />
                                <h:inputSecret id="password" value="#{mBPersona.passw}"></h:inputSecret>
		<h:message for="password"></h:message>
		<br></br><br></br>
		
                <p:commandButton action="#{mBPersona.validarLogin()}"
			value="Login"></p:commandButton>
	</h:form>
</h:body>
</html>