<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>

        </h:head>

        

        <h:body>

            <div class="card" style="margin-left: 200px">
                <h:form id="form">
                 
                 <h2 class="p-mt-0" style="margin-left: 50px; margin-top: 10px">Sistema escolar</h2>
                
                 <div class="p-field p-grid" style="width:100px">
                     <p:outputLabel  value="Nombre"/>
                    <div class="p-col">
                        <p:inputText id="Nombre" style="margin-top: 10px; width:  270px" value="#{mBPersona.persona.nombre}"/>
                    </div>
                 </div>
                 
                 <div class="p-field p-grid" style="width:270px">
                    <p:outputLabel  value="Apellido paterno"/>
                    <div class="p-col">
                        <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.paterno}"/>
                    </div>
                 </div>
                 
                 <div class="p-field p-grid" style="width:270px">
                    <p:outputLabel  value="Apellido materno"/>
                    <div class="p-col">
                        <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.materno}"/>
                    </div>
                 </div>
                 
                 <div class="p-field p-grid">
                    <p:outputLabel  value="Correo electronico"/>
                    <div class="p-col">
                        <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.email}"/>
                    </div>
                 </div>
                 
                 <div class="p-field p-grid">
                    <p:outputLabel  value="Sexo"/>
                    <div class="p-col">
                        <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.sexo}"/>
                    </div>
                 </div>
                 
                 <div class="p-field p-grid">
                    <p:outputLabel  value="Rol de usuario"/>
                    <div class="p-col">
                        <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.rol}"/>
                    </div>
                 </div>
                 
                 <div class="p-field p-grid">
                    <p:outputLabel  value="Telefono"/>
                    <div class="p-col">
                        <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.telefono}"/>
                    </div>
                 </div>
                 
                  <div class="p-field p-grid">
                    <p:outputLabel  value="Contraseña"/>
                    <div class="p-col">
                        <p:inputText style="margin-top: 10px; width: 270px" value="#{mBPersona.persona.passw}"/>
                    </div>
                 </div>    
             

                 <p:commandButton update=":form"  value="Registrar" style="margin-top: 20px; margin-left: 65px" action="#{mBPersona.insertarPersona()}"/>   

                <p:messages id="messages" showDetail="true">   
                    <p:autoUpdate/>   
                </p:messages>   
                  
                 <p:dataTable id="tabla" var="persona" value="#{mBPersona.personas}">
                    <p:column headerText="ID">
                        <h:outputText value="#{persona.idPersona}" />
                    </p:column>

                    <p:column headerText="Apellido Paterno">
                        <h:outputText value="#{persona.paterno}" />
                    </p:column>

                    <p:column headerText="Apellido Materno">
                        <h:outputText value="#{persona.materno}" />
                    </p:column>

                    <p:column headerText="Telefono">
                        <h:outputText value="#{persona.telefono}" />
                    </p:column>
                </p:dataTable>

            </h:form>   
            </div>
       </h:body>  
    </f:view>
</html>   


